$blue: #09A298;
$orange: #EE4E44;

nav {
  top:auto;
}

.footer-links {
  h4 {
    text-align: center;
  }
  .row {
    margin-right: -12px;
  }
  .footer-articles-list {
    padding-left: 0;
    list-style-type: none;
    .footer-article {
    }
  }
}

.single .meta span i.fa-slack {
    -ms-transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
    margin-right: 0px;
}

a {
  transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -webkit-transition: all ease-in-out .3s;
}

a:hover {
  color: $blue;
}

#top-navbar {
  li:nth-child(2), li:nth-child(4), li:nth-child(6) {
    a:hover {
        background-color: #09A298;
    } 
  } 
}

select:hover, input:hover, .input:hover input, textarea:hover, .textarea:hover textarea, .checkbox:hover i {
  border-color: $blue;
}

footer {
  height: auto;
}

.footer-links {
  h4 {
    margin-bottom: 50px;
  }

  #contactForm {
    input, textarea {
      margin: 10px 0;
    }
    .sendButton {
      background-color: $orange;
      border-color: transparent;
      transition: all ease-in-out .3s;
      -o-transition: all ease-in-out .3s;
      -ms-transition: all ease-in-out .3s;
      -moz-transition: all ease-in-out .3s;
      -webkit-transition: all ease-in-out .3s;
      cursor: pointer;
      &:focus, &:hover, &:active {
        background-color: $blue;
        color: #fff;
      }
    }
  }
}

.slider {
  .overlay {
    #languages {
      text-align: center;
      margin-top: 20px;
    }
    article {
      top: 36%;
    .top-logo-wrapper {
      .top-logo {
        height: 100px;
        opacity: 0.8;
        }
      }
      .header-name {
        color: #fff;
        font-weight: 300;
        text-transform: uppercase;
        display: inline-block;
        padding: 5px 15px;
        font-size: 35px;
        margin: 25px 0;
        border: none;
      }
      h2 {
        margin-top: 0;
      }
    }
  }
}

.social-networks {
  a {
    font-size: 35px;
  }

  .list-inline-item:not(:last-child) {
      margin-right: 2.5rem;
  }
}

.blog-page article .date {
  .day {
    font-size: 60px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .month {
    font-size: 16px;
  }
}

.blog-page {
  #thingsiwrite {
    padding: 0;
  }
  .widget.list-group {
    .list-group-item.active {
      color: white;
      background-color: $blue;
      border-color: $blue;
      text-align: center;
      font-size: 18px;
    }
  }
}

.post-pagination {
  text-align: center;
  padding-top: 15px;
  .paginatePrevious, .paginateNumbers, .paginateNext {
    padding: 0 10px;
  }
}

.picture-copyright {
  font-size: 10px;
  font-style: italic;
  text-shadow: none;
}

.page-item.active .page-link {
    background-color: $orange;
    border-color: $orange;
}

/* ==========================================================================
   Sections Home Page
   ========================================================================== */

#whatido,
#thingsiwrite,
#stuffimade,
#getintouch {
    padding: 165px 0;
    min-height: 100%;
    border-bottom: 1px solid #DDD;
}

#whoiam {
  background: none repeat scroll 0% 0% #FFF;
  .img-responsive {
    margin-top: 7px;
  }
}

.people-picture {
  margin: 7px 20px 5px 0;
  border-radius: 50%;
}



/* ==========================================================================
   Newsletter
   ========================================================================== */

#widget .toggle {
  width: auto;
  line-height: 20px;
  padding: 5px 10px;
}

#widget {
  .widget_container {
    .text-group {
      padding-bottom: 10px;
    }
  }
}

@media (max-width: 600px) {
  #widget .toggle {
    height: 34px;
    width: 44px;
    i {
      font-size: 27px;
    }
     .text {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .slider .overlay #languages {
    margin-top: 2px;
  }
}

/* ==========================================================================
   Slider
   ========================================================================== */

#slider {
  .slider-photo-1 {
    margin-top: -29%;
  }
  .slider-photo-2 {
    margin-top: -11%;
  }
  .slider-photo-3 {
    margin-top: -30%;
  }
}

/* ==========================================================================
   Work in progress
   ========================================================================== */
// .filter-web {
//   position: relative;
// }

// $bgColor: #ff4136;
// .work_in_progress {
//   position: absolute;
//   padding: .5em;
//   width: 18em;
//   background-color: $bgColor;
//   box-shadow: 0 0 0 6px $bgColor;
//   border: 2px dashed white;
//   color: white;
//   font-size: 1em;
//   font-weight: 700;
//   text-align: center;
//   transform: rotate(-45deg) translateX(-6em);
//   top: 0;
// }

.work_in_progress {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.6);
  color: $blue;
  span {
    margin-top: 22%;
    display: inline-block;
  }
}

.services a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.services2 {
  .item:hover {
    i {
      color: $orange;
    }
  }
}

#projects a {
    cursor: pointer;
}

.filter-web figure {
  border: 1px solid rgb(217, 217, 217);
}

.portfolio .button-group {
  display: block;
  margin: auto;
}

.filter-button-group button {

  &:active {
    color: white;
  }
}

.card, .list-group-item {
  background-color: #fafafa;
}


@media (min-width: 699px) {
  .isotope-item, .isotope-sizer {
    width: 50%;
  }
  .og-grid li.card {
    width: 90%;
    margin: 10px 0;
    padding: 0;
  }
}

@media (max-width: 700px) {
  .isotope-item, .isotope-sizer {
    width: 100%;
  }
  .og-grid li.card {
    width: 100%;
    margin: 10px 0;
    padding: 0;
  }
}

.og-grid li.list-group-item {
  width: 100%;
}

// tags

.tags {
  .tag {
    background-color: $orange;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 12px;
    color: white;
    white-space:nowrap;
  }
}
