<% wrap_layout :base do %>

    <% if defined?tagname %>
        <% title = tagname %>
        <% description = "" %>
        <% bg_color = "" %>
        <% content_for(:category, tagname) %>
    <% end %>

    <% if defined?category %>
        <% title = category %>
        <% description = data.categories[category.to_sym].description %>
        <% bg_color = data.categories[category.to_sym].color %>
        <% content_for(:category, category) %>
    <% end %>

    <% content_for(:title, title) %>
    <% content_for(:description, description ) %>

    <%= partial 'partials/blog_header', locals: {
        title: title,
        description: description,
        bg_color: bg_color,
        display_meta: false
    } %>

    <section class="bg-white">
        <div class="container">
            <%= yield %>
        </div>
    </section>

  <% partial 'partials/pagination' %>

<% end %>
