
<%= partial 'partials/head' %>

<body id="top" class="single">
<% current_locale = I18n.locale.to_s %>
<!-- Newsletter -->
<%= partial 'partials/newsletter_' + current_locale %>
<!-- end newsletter -->
<!-- Article header -->
<%= partial 'partials/articleheader' %>
<!-- end Article header -->
<!-- Navbar -->
<%= partial 'partials/blog_navbar_' + current_locale %>
<!-- end navbar -->



<section class="blog-page add-padding">
    <%= yield %>
</section>

<%= partial "partials/social_bar" %>

<%= partial "partials/footer.erb" %>

    <!-- Scripts -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag 'bootstrap.min.js' %>
    <%= javascript_include_tag 'library.js' %>
    <%= javascript_include_tag 'scripts.js' %>
    <script>
    $(function() {
        Grid.init();
    });
    // Init Google Map
    GoogleMapInit();
    ShowPins();  
    </script>
  </body>
</html>
