<header>
    <div class="overlay">
        <article>
            <a href="<%= data.site.url %>"><h2>
            <%= image_tag 'logo-cms-s-w.png', alt: 'Logo Céline Martinet Sanchez'%></h2></a>
            <h2>Développeuse &middot; Enseignante &middot; Entrepreneur</h2>
        </article>
    </div>
</header> 
