<!-- Client Quotes -->
<!-- <section id="testimonials">
    <div class="container">
        <div class="carousel slide testimonials">
            <div class="carousel-inner clearfix">
                <div class="item active">
                    <p>
                        This is the <strong>most gorgeous</strong> template I have every purchased. 
                        It is <strong>clean</strong>, <strong>easy to use</strong>, and the 
                        <strong>support is great</strong>. For the price, I <strong>highly 
                        recommend it</strong>. 5 Starts! 
                    </p>
                    <div class="cite">~ <a href="#">The Creative Market</a> ~</div>
                </div>
                <div class="item">
                    <p>
                        Aliquam facilisis, orci in vulputate posuere, sapien dolor dapibus orci, 
                        vitae venenatis dui elit vitae lorem. Sed porta fermentum felis in molestie. 
                        Sed porta fermentum felis in molestie. Sed porta fermentum felis in molestie.
                    </p>
                    <div class="cite">~ <a href="#">The Fireworks Police</a> ~</div>
                </div>
                <div class="item">
                    <p>
                        Pariatur cliche <strong>reprehenderit</strong>, enim eiusmod high life accusamus terry richardson 
                        ad squid. 3 wolf moon officia aute, non <strong>cupidatat skateboard</strong> dolor brunch. Food 
                        truck quinoa nesciunt laborum eiusmod.
                    </p>
                    <div class="cite">~ <a href="#">Envato Marketplace</a> ~</div>
                </div>
            </div>

            <ol class="carousel-indicators">
                <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials" data-slide-to="1" class=""></li>
                <li data-target="#testimonials" data-slide-to="2" class=""></li>
            </ol>
        </div>
    </div>
</section>  -->
