<!-- Le Footer -->    
<footer class="footer-wrapper hidden-xs">
    <div class="footer-slogan">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Download my <strong>kick-ass</strong> <a href="resume.html">resume</a></h2>
                </div>
                <a class="ribbon">
                </a>
                <div class="col-sm-6">
                    <h2 class="text-right">Visit my <a href="http://creativemarket.com/fwpolice?u=fwpolice">CreativeMarket</a> store</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-links container">
        <div class="row">
            <div class="col-sm-4">
                <h4>Recent Tweets</h4>
                <p>
                    Wayfarers magna sunt, Austin organic brooklyn nesciunt exercitation you probably haven't heard of them est. Wayfarers 
                    magna sunt, Austin organic brooklyn nesciunt exercitation you probably haven't heard of them est.
                </p>
            </div>
            <div class="col-sm-4">
                <h4>Recent Articles</h4>
                <p>
                    Wayfarers magna sunt, Austin organic brooklyn nesciunt exercitation you probably haven't heard of them est. Wayfarers 
                    magna sunt, Austin organic brooklyn nesciunt exercitation you probably haven't heard of them est.
                </p>
            </div>
            <div class="col-sm-4">
                <h4>Business Hours</h4>
                <p>
                    Wayfarers magna sunt, Austin organic brooklyn nesciunt exercitation you probably haven't heard of them est. Wayfarers 
                    magna sunt, Austin organic brooklyn nesciunt exercitation you probably haven't heard of them est.
                </p>
            </div>
        </div>
    </div>
</footer>

<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                &copy; Simply.Me. All Rights Reserved.
            </div>
            <div class="col-sm-4 text-right mobile-center">
                <a href="#">Privacy</a> / <a href="#">Terms</a> / <a href="#">Jobs</a>
            </div>
        </div>
    </div>
</div>
    
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>