
<div class="gmap">  
    <div class="map-overlay-container">
        <div class="map-overlay" id="map-1042091">
            <ul class="map-menu">
                <li class="nav-header map-nav-header">Favorite Hangouts</li>
                <li><a href="#">Texas BBQ <br /><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>
                <li><a href="#">Dallas Chicken <br /><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>
                <li><a href="#">Thali of India <br /><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>
                <li><a href="#">Chinese Food <br /><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>
                <li><a href="#">Asian Vegan Cuisine <br /><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></a></li>
    
            </ul>
        </div>
        <a class="map-show-hide" onclick="neighborhood_map('1042091');"><i class="fa fa-map-marker"></i></a>
    </div>

    <!--Google Maps APIv3 Background-->
    <div id="canvas_holder">
        <div id="map_canvas"></div>
    </div><!-- End Google Maps Background -->
</div>