    
<!-- Things I Write -->
<section id="thingsiwrite" class="fadeInDownBig">
    <div class="container">
        <h1 class="title">
            Things I <span class="highlight blue">Write</span>
        </h1>
        <h2 class="sub-title">
            By combining the smallest of letters, one can create a story to last a life time. I enjoy watching, reading and participating.
            I like it so much that I have too much information in my brain closet. I release those thoughts and tricks for the world
            to read. Tell me what you think...or what you understood.
        </h2>
        
        <div class="blog clearfix">
            <ul>
                <li>
                    <div class="post-image">
                        <a href="#"><img src="images/portfolio/1.jpg" alt="Post Title"></a>
                    </div>
                    <h3><a href="#">When the Daylight Comes</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
                    <div class="meta">
                        <span><i class="fa fa-calendar"></i> Jan 12, 2014</span>
                        <span><i class="fa fa-tags"></i> <a href="#">Photo</a>, <a href="#">Blog</a> </span>
                        <span><i class="fa fa-comments-o"></i> 2</span>
                    </div>
                </li>
                <li>
                    <div class="post-image">
                        <a href="#"><img src="images/portfolio/2.jpg" alt="Post Title"></a>
                    </div>
                    <h3><a href="#">I'll Have to Go</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
                    <div class="meta">
                        <span><i class="fa fa-calendar"></i> Jan 12, 2014</span>
                        <span><i class="fa fa-tags"></i> <a href="#">Photo</a>, <a href="#">Blog</a> </span>
                        <span><i class="fa fa-comments-o"></i> 2</span>
                    </div>
                </li>
                <li>
                    <div class="post-image">
                        <a href="#"><img src="images/portfolio/3.jpg" alt="Post Title"></a>
                    </div>
                    <h3><a href="#">But Tonight I'm Gonna Hold</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
                    <div class="meta">
                        <span><i class="fa fa-calendar"></i> Jan 12, 2014</span>
                        <span><i class="fa fa-tags"></i> <a href="#">Photo</a>, <a href="#">Blog</a> </span>
                        <span><i class="fa fa-comments-o"></i> 2</span>
                    </div>
                </li>
                <li>
                    <div class="post-image">
                        <a href="#"><img src="images/portfolio/4.jpg" alt="Post Title"></a>
                    </div>
                    <h3><a href="#">You So Close, Oh-whoa</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
                    <div class="meta">
                        <span><i class="fa fa-calendar"></i> Jan 12, 2014</span>
                        <span><i class="fa fa-tags"></i> <a href="#">Photo</a>, <a href="#">Blog</a> </span>
                        <span><i class="fa fa-comments-o"></i> 2</span>
                    </div>
                </li>
                <li>
                    <div class="post-image">
                        <a href="#"><img src="images/portfolio/5.jpg" alt="Post Title"></a>
                    </div>
                    <h3><a href="#">It's a Tacodile! Oh my.</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
                    <div class="meta">
                        <span><i class="fa fa-calendar"></i> Jan 12, 2014</span>
                        <span><i class="fa fa-tags"></i> <a href="#">Photo</a>, <a href="#">Blog</a> </span>
                        <span><i class="fa fa-comments-o"></i> 2</span>
                    </div>
                </li>
                <li>
                    <div class="post-image">
                        <a href="#"><img src="images/portfolio/6.jpg" alt="Post Title"></a>
                    </div>
                    <!--
                    <figure>
                        <a href="portfolio-post.html">
                            <div class="text-overlay">
                                <div class="info">See Project</div>
                            </div>
                            <img src="images/portfolio/6.jpg" alt="">
                        </a>
                    </figure>-->
                    <h3><a href="#">I am Skeletor, the Destroyer</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
                    <div class="meta">
                        <span><i class="fa fa-calendar"></i> Jan 12, 2014</span>
                        <span><i class="fa fa-tags"></i> <a href="#">Photo</a>, <a href="#">Blog</a> </span>
                        <span><i class="fa fa-comments-o"></i> 2</span>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="display-block text-center add-top">
            <ul class="pagination">
                <li><a href="#">&larr;</a></li>
                <li class="active"><a href="#">10</a></li>
                <li class="disabled"><a href="#">...</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">&rarr;</a></li>
            </ul>
        </div>
    </div>
</section>