
<!-- Things I Write -->
<section id="thingsiwrite" class="fadeInDownBig">
    <div class="container">
        <h1 class="title">
            <%= defined?(title) ? title : "" %>
        </h1>
        <h2 class="sub-title">
            <%= defined?(subtitle) ? subtitle : ""%>

        </h2>

        <div class="blog clearfix">

        </div>

        <!-- <div class="display-block text-center add-top">
            <ul class="pagination">
                <li><a href="#">&larr;</a></li>
                <li class="active"><a href="#">10</a></li>
                <li class="disabled"><a href="#">...</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">&rarr;</a></li>
            </ul>
        </div> -->
    </div>
</section> 
