<nav>
    <div class="container">
        <div class="row">
            <ul id="top-menu">
                <li class="col-sm-1 active"><a href="#top"><i class="fa fa-chevron-up"></i><span class="hidden">Top</span></a></li>
                <li class="col-sm-2"><a href="#whoiam">Who I Am</a></li>
                <li class="col-sm-2"><a href="#whatido">What I Do</a></li>
                <li class="col-sm-2"><a href="#thingsiwrite">Things I Write</a></li>
                <li class="col-sm-2"><a href="#stuffimade">Stuff I Made</a></li>
                <li class="col-sm-2"><a href="#getintouch">Get In Touch</a></li>
                <li class="col-sm-1"><a href="#testimonials"><i class="fa fa-chevron-down"></i><span class="hidden">Get Connected</span></a></li>
            </ul>
        </div>
    </div>
</nav>