<!-- Main navbar -->
<nav class="affix">
    <div class="container">
        <ul id="top-menu">
            <div class="row">
                <li class="col-sm-3">
                    <%= link_to 'Accueil', '/', class: "border-right" %>
                </li>
                <li class="col-sm-3">
                    <%= link_to 'Bribes',  category_path("bribes"), class: "border-right" %>
                </li>
                <li class="col-sm-3">
                    <%= link_to 'A propos',  '/a-propos.html', class: "border-right" %>
                </li>
                <li class="col-sm-3">
                   <%= link_to 'Contact',  '/contact.html' %>
                </li>
            </div>
        </ul>
    </div>
</nav>

