<div id="widget">
  <div class="widget_container">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
                    Sign up for my newsletter to get heads up on upcoming theme sales and other wonderful resources. 
                    Don't worry, I don't like spam either and will never share your email address.
                </div>
        <div class="col-sm-1">
                </div>
        <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="email" name="email" placeholder="Your Email">
                        </div>
                        <div class="col-sm-4">
                            <button class="login-button">Sign Up</button>
                        </div>
                    </div>
                </div>
      </div>
    </div>
  </div>
  <a class="toggle"><i class="fa fa-sort"></i></a>
</div>