<% if prev_page or next_page %>
  <div class="display-block text-center add-top">
    <ul class="pagination justify-content-center">
      <li class="page-item <% unless prev_page %>disabled<% end %>">
        <%= link_to '← Précédent', prev_page, class: "page-link" %>
      </li>

      <li class="page-item <% unless next_page %>disabled<% end %>">
        <%= link_to 'Suivant →', next_page, class: "page-link" %>
      </li>
    </ul>
  </div>
<% end %>
