---
layout: mainsite
---    
<!-- How to Reach Me -->
<section id="getintouch" class="fadeInRightBig">
    <div class="container">
        <h1 class="title">
            Get In <span class="highlight orange">Touch</span>
        </h1>
    </div>
    
    <div class="container">        
        <h2 class="sub-title">
            Use the form below to get a quick quote on a project or to simply say hello. I try to be promt and answer any emails within 48 hours. If you send a spam email, I respond with a creative answer.
        </h2>
        
        <div class="row">
            <div class="col-sm-8">
                <form class="contact" id="contactForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="required" for="name">
                                Your Name
                                <input type="text" name="name" id="name" placeholder="Cylia Chamade" required>
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label class="required" for="email">
                                Your Email
                                <input type="email" name="email" id="email" placeholder="cylia.chamade@cats-eye.com" required>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="budget">
                                Budget
                                <select id="budget" name="budget">
                                    <option disabled="" selected="">~ Select One ~</option>
                                    <option>Less than $500</option>
                                    <option>$500 - $999</option>
                                    <option>$1,000 - $1,999</option>
                                    <option>$2,000 - $4,999</option>
                                    <option>$5,000 - $9,999</option>
                                    <option>$10,000 - $19,999</option>
                                    <option>More than $20,000</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-sm-6">
                            <label for="time" >
                                Completion Time
                                <select id="time" name="time">
                                    <option disabled="" selected="">~ Select One ~</option>
                                    <option>Less than One Week</option>
                                    <option>Three Weeks</option>
                                    <option>One Month</option>
                                    <option>Three Months</option>
                                    <option>Six Months</option>
                                    <option>One Year</option>
                                    <option>Continuous</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <label class="required">
                        Message
                        <textarea rows="7" placeholder="<%= t(:catsEyeMessage) %>" required type="textarea" name="message"></textarea>
                    </label>
                    <div class="add-sm-top text-center">
                        <button class="btn btn-danger" type="submit"><i class="fa fa-envelope"></i> &nbsp; SEND E-MAIL</button>
                    </div>
                </form>
                <div class="col-md-12" id="formSuccessMessage" style="display:none;">
                    Votre message a bien été envoyé. Je vous répondrai sous les meilleurs délais.
                </div>
                <div class="col-md-12" id="formErrorMessage" style="display:none;">
                    Votre message n'a pu être envoyé. Merci de recommencer dans quelques minutes.
                </div>
            </div>
            <div class="col-sm-4 contact-address">
                <h3 class="heading turquoise add-xs-top">Stay In Touch</h3>
                <p>I work in Paris in different places but you can join me by sending an e-mail!</p>
                
                <!-- <h3 class="heading blue add-sm-top">Social Networks</h3> -->
                <address><abbr title="Address"><i class="fa fa-thumb-tack"></i></abbr>Anywhere in Paris, 
                                                France</address>
                <div class="social-networks">                
                    <a href="http://fr.linkedin.com/in/celinemartinet1/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    <a href="https://github.com/celine-m-s" target="_blank"><i class="fa fa-github-square"></i></a>                     
                    <a href="https://www.facebook.com/profile.php?id=100008250871769"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://twitter.com/CelineMartinetS" target="_blank" ><i class="fa fa-twitter-square"></i></a>
                    <a href="https://plus.google.com/u/0/+CelineMartinetSanchez/posts" target="_blank" ><i class="fa fa-google-plus-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>