---
layout: mainsite
---
<% current_locale = I18n.locale.to_s %>
    
<%= partial 'partials/projects_grid', :locals => {
  :globalTitle => 'Stuff I <span class="highlight orange">Made</span>',
  :globalSubtitle => 'du blabla en description',
  :projects => data.development.send(current_locale)
  } %>