---
layout: mainsite
---
<% current_locale = I18n.locale.to_s %>

<% @title = t(:development_title) %>
<% @description = t(:development_description) %>

<% content_for :page_picture do %>
  <% image_path('piano.jpg') %>
<% end %>
    
<%= partial 'partials/projects_grid', :locals => {
  :globalTitle => 'Stuff I <span class="highlight orange">Made</span>',
  :globalSubtitle => 'du blabla en description',
  :projects => data.development.send(current_locale)
  } %>