---
layout: mainsite
---

    
<!-- Stuff I Made -->
<section id="stuffimade" class="bounceIn">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1 class="title">
                    Stuff I <span class="highlight orange">Made</span>
                </h1>
                <h2 class="sub-title">
                    A creative thinker from the city that never sleeps, New York City. An influencial and passionate person in 
                    the Adobe Fireworks community working to bring it success.
                </h2>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="portfolio clearfix">
            <div class="main row">
        <ul id="og-grid" class="og-grid">
          <li class="filter-web">
            <a href="http://fwpolice.com" data-largesrc="images/portfolio/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                                <div class="text-overlay">
                                    <div class="info">See Project</div>
                                </div>
                                <img src="images/portfolio/1.jpg" alt="">
                            </figure>
            </a>
          </li>
          <li class="filter-branding">
            <a href="http://fwpolice.com" data-largesrc="images/portfolio/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                                <div class="text-overlay">
                                    <div class="info">See Project</div>
                                </div>
                                <img src="images/portfolio/2.jpg" alt="">
                            </figure>
            </a>
          </li>
          <li class="filter-oil">
            <a href="http://fwpolice.com" data-largesrc="images/portfolio/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                                <div class="text-overlay">
                                    <div class="info">See Project</div>
                                </div>
                                <img src="images/portfolio/3.jpg" alt="">
                            </figure>
            </a>
          </li>
          <li class="filter-branding">
            <a href="http://fwpolice.com" data-largesrc="images/portfolio/4.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                                <div class="text-overlay">
                                    <div class="info">See Project</div>
                                </div>
                                <img src="images/portfolio/4.jpg" alt="">
                            </figure>
            </a>
          </li>
          <li class="filter-web">
            <a href="http://fwpolice.com" data-largesrc="images/portfolio/5.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                                <div class="text-overlay">
                                    <div class="info">See Project</div>
                                </div>
                                <img src="images/portfolio/5.jpg" alt="">
                            </figure>
            </a>
          </li>
          <li class="filter-branding">
            <a href="http://fwpolice.com" data-largesrc="images/portfolio/6.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                                <div class="text-overlay">
                                    <div class="info">See Project</div>
                                </div>
                                <img src="images/portfolio/6.jpg" alt="">
                            </figure>
            </a>
          </li>
          <li class="filter-oil">
            <a href="http://fwpolice.com" data-largesrc="images/portfolio/7.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                                <div class="text-overlay">
                                    <div class="info">See Project</div>
                                </div>
                                <img src="images/portfolio/7.jpg" alt="">
                            </figure>
            </a>
          </li>
          <li class="filter-branding">
            <a href="http://fwpolice.com" data-largesrc="images/portfolio/8.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                                <div class="text-overlay">
                                    <div class="info">See Project</div>
                                </div>
                                <img src="images/portfolio/8.jpg" alt="">
                            </figure>
            </a>
          </li>
          <li class="filter-web">
            <a href="http://fwpolice.com" data-largesrc="images/portfolio/9.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                                <div class="text-overlay">
                                    <div class="info">See Project</div>
                                </div>
                                <img src="images/portfolio/9.jpg" alt="">
                            </figure>
            </a>
          </li>
        </ul>
            </div>
        </div>
    </div>
</section>