---
layout: mainsite
---
<!-- Who I Am -->
<section id="whoiam">
    <div class="container">
        <h1 class="title">
            Who I <span>am</span>
        </h1>
        <h2 class="sub-title">
            A creative thinker from the city that never sleeps, New York City. An influencial and passionate person in 
            the Adobe Fireworks community working to bring it success. Lover of music of all genre, language, tempo and age.
        </h2>
        
        <h3 class="heading turquoise"><i class="fa fa-camera-retro"></i> I am <strong>Creative</strong></h3>
            
        <div class="row add-margin">
            <div class="col-sm-6">
                <p>
                    Assumenda neutra eiusmod keytar cosby sweater, narwhal gentrify elit mcsweeney's. Photo booth enim terry richardson, 
                    beard neutra pickled incididunt cupidatat fap fugiat. Mollit fugiat eiusmod cray photo booth. Crafted beer fashion axe 
                    elit disrupt est pour-over, gentrify minim.
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    Assumenda neutra eiusmod keytar cosby sweater, narwhal gentrify elit mcsweeney's. Photo booth enim terry richardson.
                </p>
                
                <p><a href="resume.html" class="btn btn-danger btn-sm"><i class="fa fa-download"></i> Download My Resume</a></p>
            </div>
        </div>
        
        <h3 class="heading blue"><i class="fa fa-qrcode"></i> I am <strong>Innovative</strong></h3>
        
        <div class="row add-margin">
            <div class="col-sm-6">
                <p>
                    Assumenda neutra eiusmod keytar cosby sweater, narwhal gentrify elit mcsweeney's. Photo booth enim terry richardson, 
                    beard neutra pickled incididunt cupidatat fap fugiat. Mollit fugiat eiusmod cray photo booth. Crafted beer fashion axe 
                    elit disrupt est pour-over, gentrify minim.
                </p>
            </div>
            <div class="col-sm-6">
                <p>
                    Assumenda neutra eiusmod keytar cosby sweater, narwhal gentrify elit mcsweeney's. Photo booth enim terry richardson, 
                    beard neutra pickled incididunt cupidatat fap fugiat. Mollit fugiat eiusmod cray photo booth. Crafted beer fashion axe 
                    elit disrupt est pour-over, gentrify minim.
                </p>
            </div>
        </div>
        
        <h3 class="heading orange"><i class="fa fa-user"></i> I am <strong>Simply Me</strong></h3>
        
        <div class="add-md-top">
            <p>
                Assumenda neutra eiusmod keytar cosby sweater, narwhal gentrify elit mcsweeney's. Photo booth enim terry richardson, 
                beard neutra pickled incididunt cupidatat fap fugiat. Mollit fugiat eiusmod cray photo booth. Crafted beer fashion axe 
                elit disrupt est pour-over, gentrify minim.
            </p>
            <p>
                Assumenda neutra eiusmod keytar cosby sweater, narwhal gentrify elit mcsweeney's. Photo booth enim terry richardson, 
                beard neutra pickled incididunt cupidatat fap fugiat. Mollit fugiat eiusmod cray photo booth. Crafted beer fashion axe 
                elit disrupt est pour-over, gentrify minim.
            </p>
        </div>
    </div>
</section>



    
<!-- What I Do -->
<section id="whatido" class="rotateInUpLeft">
    <div class="container">
        <h1 class="title">
            What I <span class="turquoise">do</span>
        </h1>
        <h2 class="sub-title">
            We are a full service digital agency from Earth. We design and build websites, applications, mobile solutions and other awesome digital media.
        </h2>
        
        <div class="row services">
            <div class="col-sm-4">
                <h2><i class="icon-picons-heart"></i></h2>
                <h5>Lovely Icons</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
            </div>
            <div class="col-sm-4">
                <h2><i class="icon-picons-brush-2"></i></h2>
                <h5>Artistic Life</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
            </div>
            <div class="col-sm-4">
                <h2><i class="icon-picons-hamburger"></i></h2>
                <h5>Food Lover</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
            </div>
        </div>
        
        <hr />
        
        <div class="row add-lg-top add-bottom">
            <div class="col-sm-4">
                <h3>Progress &amp; Skill Bars</h3>
                <p>Let's take a look at some progress bars to highlight your skills. We have two sets in addition to  
                bootstraps default bars. Choose the one that best suits your needs.</p>
                <p><a href="#" class="btn btn-primary">Read More</a></p>
            </div>
            <div class="col-sm-4">
                <div id="skillbar-1" class="skillbar clearfix notinview" data-percent="90%">
                    <div class="skillbar-title">
                        <span>Fireworks</span>
                    </div>
                    <div class="skillbar-bar">
                        <div class="skill-bar-percent" style="background: #f09b30;"></div>
                        <div class="pointerval">
                            <span class="value">90%</span>
                            <span class="pointer"></span>
                        </div>
                    </div>
                </div>
                <div id="skillbar-2" class="skillbar clearfix notinview" data-percent="85%">
                    <div class="skillbar-title">
                        <span>Photoshop</span>
                    </div>
                    <div class="skillbar-bar">
                        <div class="skill-bar-percent" style="background: #2A67BF;"></div>
                        <div class="pointerval">
                            <span class="value">85%</span>
                            <span class="pointer"></span>
                        </div>
                    </div>
                </div>
                <div id="skillbar-3" class="skillbar clearfix notinview" data-percent="70%">
                    <div class="skillbar-title">
                        <span>Illustrator</span>
                    </div>
                    <div class="skillbar-bar">
                        <div class="skill-bar-percent" style="background: #E46B24;"></div>
                        <div class="pointerval">
                            <span class="value">70%</span>
                            <span class="pointer"></span>
                        </div>
                    </div>
                </div>
                <div id="skillbar-4" class="skillbar clearfix notinview" data-percent="95%">
                    <div class="skillbar-title">
                        <span>Front-end Development</span>
                    </div>
                    <div class="skillbar-bar">
                        <div class="skill-bar-percent" style="background: #738d00;"></div>
                        <div class="pointerval">
                            <span class="value">95%</span>
                            <span class="pointer"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="progress progress-danger border-radius" data-appear-progress-animation="70%">
                <div class="bar" style="width: 70%; text-indent: 10px;">Web Design 80%</div>
                </div>
                
                <div class="progress progress-success border-radius" data-appear-progress-animation="70%">
                <div class="bar" style="width: 70%; text-indent: 10px;">HTML/CSS 70%</div>
                </div>
                
                <div class="progress progress-info border-radius" data-appear-progress-animation="40%">
                <div class="bar" style="width: 40%; text-indent: 10px;">Opencart 40%</div>
                </div>
                
                <div class="progress progress-warning border-radius" data-appear-progress-animation="90%">
                <div class="bar" style="width: 90%; text-indent: 10px;">Graphic Design 90%</div>
                </div>
                
                <div class="progress border-radius" data-appear-progress-animation="58%">
                <div class="bar" style="width: 58%; text-indent: 10px;">WordPress 58%</div>
                </div>
            </div>
        </div>
        
        <hr />
        
        <h2 class="sub-title add-lg-top">
            Here are some other services that I provide. I'm an all-around designer/developer/engineer.
        </h2>
        
        <div class="row services2">
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-coffee"></i>
                <h4>Buy Me Some Coffee</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
            </div></div>
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-crown"></i>
                <h4>I Won Awards</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
            </div></div>
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-like"></i>
                <h4>Clients Love Me</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
            </div></div>
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-chart-8"></i>
                <h4>I Give Speeches</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
            </div></div>
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-url"></i>
                <h4>I Build the Web</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
            </div></div>
            <div class="col-sm-4"><div class="item">
                <i class="icon-picons-ship"></i>
                <h4>I Like to Travel</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
            </div></div>
        </div>
    </div>
</section>