---
layout: mainsite
---

<% current_locale = I18n.locale.to_s %>

<% @title = t(:index_title) %>
<% @description = t(:index_description) %>

<% content_for :page_picture do %>
  <% image_path('piano.jpg') %>
<% end %>

<section id="presentation">
    <div class="container">
        <div class="row add-margin">
            <div class="col-sm-4 col-sm-offset-2">
                <%= image_tag("celine-martinet-sanchez.jpg", class: "img-responsive") %>
            </div>
            <div class="col-sm-4">
                <h1><%# t(:presentationTitle) %></h1>
                <p><%= t(:presentationText) %></p>
            </div>
        </div>
    </div>    
</section>

<!-- uncomment to make the blog live -->

<%# partial 'partials/last_articles', :locals => { 
    :title => t(:indexLastPosts),
    :subtitle => t(:indexLastPostsSubtitle),
    :articles => blog.local_articles
    }
%>


<!-- Only for the index - redirection. Very ugly solution. See if possible with .htaccess -->

<%# partial 'locate_brower_language' %>