---
layout: mainsite
---

    
<%= partial 'partials/projects_grid', :locals => {
  :globalTitle => 'Stuff I <span class="highlight orange">Made</span>',
  :globalSubtitle => 'du blabla en description'
  } %>