---
layout: base
---  

<% @title = "Contactez-moi" %>
<% @description = "Description" %>

<% content_for :page_picture do %>
  <% image_path('bg/cover/cover-1.jpg') %>
<% end %>

<section class="p-5">
    <h2 class="pb-3 text-center">Contactez-moi</h2>
    <div class="footer-links container">
        <div class="row">
            <div class="col-sm-5 offset-md-1">
                   <a class="twitter-timeline" href="https://twitter.com/celine_m_s?ref_src=twsrc%5Etfw" data-height="220" data-theme="dark" data-link-color="#09A298">Gazouillis de @CelineMartinetS</a>
                   <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="col-sm-5">
                <form action="#" id="contactForm">
                  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                  <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
                  <input type='text' name='name' required placeholder="Cylia Chamade" class="m-0"/>
                  <input type='mail' name='email' required placeholder="cylia.chamade@cats-eye.com"/>
                  <textarea type='textarea' name='message' required placeholder="Bonjour, Nous aimerions une application pour trouver des oeuvres d'art. Pourriez-vous la réaliser ? Merci, Signé Cat's Eyes."></textarea>
                  <input type='submit' value='Envoyer' class="sendButton" onClick="_gaq.push(['_trackEvent', 'Contact_footer', 'Send', 'fr']);"/>
                </form>
            </div>
        </div>
    </div>
</section>

